---
import styles from "./style.module.scss";
---

<script>
  const arrow: HTMLElement | any = document.querySelector("#arrow");
  arrow.addEventListener("click", () => {
    const section: HTMLElement | any = document.querySelectorAll(
      ".products-container"
    );
    section.forEach((item: any) => {
      item.scrollIntoView({ behavior: "smooth" });
    });
  });
</script>

<div class={styles.main}>
  <h1 class={styles.title}>KURO</h1>
  <h1 class={styles.titlevariant}>CLOTHES</h1>
  <h2 class={styles.subtitle}>クロの服</h2>
  <div class={styles.icon_container} id="arrow">
    <img
      class={styles.arrow_icon}
      src="/down-arrow.png"
      width={40}
      alt="arrow-icon"
      loading="lazy"
      decoding="async"
    />
  </div>
</div>
